div.products-page {
  width: auto;
  margin-top: 64px;
  margin-left: 280px;
  padding: 20px;
  overflow: auto;
}

div.products {
    display: table;
    width: 100%;
    max-width: 100%;
    //table-layout: fixed; 

  ul {
    display: table-row-group;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 15px;

    li {
      display: table-row;
      height: 100px;
      overflow: hidden;
      width: 100%;

      .description {
        width: 500px;
      }

      .images {
        padding-right: 10px;
      }

      div {
        vertical-align: middle;
        display: table-cell;
        border-top: 1px solid #ddd;
        padding: 15px 5px;
        height: 80px;
        width: 80px;

        .title {
          width: 380px;
          font-weight: 400;
          vertical-align: middle;
        }

        span {
          display: inherit;
          vertical-align: middle;
          font-weight: 500;
          color: #4d4d4d;
        }

        img {
          max-height: 80px;
          max-width: 80px;
        }

      }

    }

  }

  div.products-header {
    display: table-header-group;

    div {
      display: table-cell;
      padding: 15px 5px;
      border: 0;
      font-weight: 500;
      color: #4d4d4d;
    }

  }

}

