/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
nav.top-menu {
  height: 64px;
  background-color: #009688;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 69; }
  nav.top-menu a {
    display: inline-block; }
  nav.top-menu i {
    text-align: left;
    font-family: 'Material Icons';
    color: white;
    font-style: normal;
    font-weight: normal;
    display: block;
    float: left;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility; }
  nav.top-menu div.menu {
    float: left; }
  nav.top-menu i.button {
    line-height: 20px;
    font-size: 20px;
    padding: 21px;
    border-right: solid 1px #45a49b; }
  nav.top-menu div.search i {
    line-height: 18px;
    font-size: 18px;
    height: 18px;
    padding: 23px;
    padding-right: 10px;
    padding-bottom: 2px; }
  nav.top-menu div.search input {
    border: none;
    background: transparent;
    border-radius: 0;
    height: 60px;
    font-size: 14px;
    color: #fff; }
  nav.top-menu div.search ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fafafa;
    opacity: 1;
    /* Firefox */ }
  nav.top-menu div.search :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fafafa; }
  nav.top-menu div.search ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fafafa; }

/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
nav.left-menu {
  height: 100%;
  width: 260px;
  background-color: #fff;
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 0; }
  nav.left-menu ul {
    margin-top: 40px;
    list-style-type: none;
    font-size: 13px;
    font-weight: 500;
    padding-left: 25px; }
    nav.left-menu ul li {
      padding: 13px 0 13px 25px; }
  nav.left-menu .scale-up-bottom {
    background-color: red;
    display: none;
    opacity: 0;
    transition: all 0.3s linear; }
  nav.left-menu .test {
    display: block;
    opacity: 1; }

.panel {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e2edeb;
  border-radius: 2px;
  padding: 15px; }

/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[class*='c-'] {
  padding: 1em;
  width: 100%;
  min-height: 1px;
  float: left;
  box-sizing: border-box; }

@media only screen and (min-width: 30em) {
  .c-1 {
    width: 8.33333%; }
  .c-2 {
    width: 16.66667%; }
  .c-3 {
    width: 25%; }
  .c-4 {
    width: 33.33333%; }
  .c-5 {
    width: 41.66667%; }
  .c-6 {
    width: 50%; }
  .c-7 {
    width: 58.33333%; }
  .c-8 {
    width: 66.66667%; }
  .c-9 {
    width: 75%; }
  .c-10 {
    width: 83.33333%; }
  .c-11 {
    width: 91.66667%; }
  .c-12 {
    width: 100%; } }

[data-elm-hot="true"] {
  height: inherit; }

body {
  font-family: Roboto;
  margin: 0;
  color: #3D4051;
  background: #f6f6f6;
  font-size: 14px; }

a {
  text-decoration: none; }

div.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 64px; }

strong {
  font-size: 1.1em;
  display: block; }

img {
  max-height: 100%;
  vertical-align: middle; }

.cart .img {
  width: 25%;
  padding: 1rem 0 1rem 1rem;
  box-sizing: border-box;
  text-align: center;
  height: 200px;
  line-height: calc(200px - 2rem);
  float: left; }

.cart .description {
  width: 55%;
  padding: 1rem 0 1rem 1rem;
  box-sizing: border-box;
  height: 200px;
  float: left; }

.cart .info {
  width: 20%;
  padding: 1rem 0 1rem 1rem;
  box-sizing: border-box;
  height: 200px;
  float: left; }

span {
  float: left;
  font-size: 0.8em; }

.cart {
  margin-top: 20px;
  margin-left: 400px;
  width: 940px;
  height: 200px;
  background: white;
  border-radius: 10px;
  text-align: left; }
